@import "constants";

.bg-container {
  background-color: $light-grey !important;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 8vh;
}

.input-group {
  width: 50vw !important;
}

.navbar {
  height: 10vh;
}

.navbar-custom {
  background-color: $primary;
}

.btn-search {
  background-color: $light-grey;
  border: 0;
}

.thumbnail {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

.picture-item {
  width: 680px;
  height: 680px;
}

.custom-breadcrumb {
  background-color: inherit;
  margin: 0;
}

